body {
    position: relative;
    margin: auto;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*----------------main div styles-------------------*/
body > div {
    position: relative;
    margin: auto;
    height: calc(100vh / 3);
    display: flex;
    float: left;
}

/*----------------img styles-------------------*/
img {
    position: relative;
    width: calc(100vw / 4);
    height: calc(100vh / 3);
    margin: auto;
}
/*----------------horizontal img styles-------------------*/
body>div:nth-child(2)>div:first-child>img, body>div:nth-child(4)>img:nth-child(2){
    width: calc(100vw / 2);
}
/*----------------full size img bar(orange bar) styles-------------------*/
body>img:first-child{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}