/*---------------section styles---------------*/
section{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);

}
/*---------------uni div styles---------------*/
div{
    background-position: center;
    background-size: cover;
}
/*---------------div styles---------------*/
body>section>div:nth-child(1){
    background-image: url("../assets/bc/1.jpeg");
}
body>section>div:nth-child(2){
    background-image: url("../assets/bc/2.jpeg");
}
body>section>div:nth-child(3){
    background-image: url("../assets/bc/3.jpeg");
}
body>section>div:nth-child(4){
    background-image: url("../assets/bc/4.jpeg");
}
body>section>div:nth-child(5){
    background-image: url("../assets/bc/5.png");
}
body>section>div:nth-child(6){
    background-image: url("../assets/bc/6.jpeg");
}
body>section>div:nth-child(7){
    background-image: url("../assets/bc/7.webp");
}
body>section>div:nth-child(8){
    background-image: url("../assets/bc/8.jpeg");
}
body>section>div:nth-child(9){
    background-image: url("../assets/bc/9.jpeg");
}
body>section>div:nth-child(10){
    background-image: url("../assets/bc/10.png");
}
body>section>div:nth-child(11){
    background-image: url("../assets/bc/11.jpg");
}
body>section>div:nth-child(12){
    background-image: url("../assets/bc/12.jpeg");
}