/*---------------section styles---------------*/
section{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);

}
/*---------------div styles---------------*/
div{
    background-position: center;
    background-size: cover;
}