*{
    font-size: 0;
    box-sizing: border-box;
}
/*----------------body styles-------------------*/
body {
    position: relative;
    margin: auto;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*----------------main div styles-------------------*/
body > div {
    position: relative;
    margin: auto;
    height: calc(100vh / 3);
    display: flex;
    float: left;
}

/*----------------img styles-------------------*/
img {
    position: relative;
    width: calc(100vw / 4);
    height: calc(100vh / 3);
    margin: auto;
    transition: .5s ease;
}

img:hover {
    opacity: 0.5;
}