/*----------------main section styles-------------------*/
body{
    position: relative;
}
section{
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*----------------fixed circle styles-------------------*/
body>div:first-child, body>div:first-child>div{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    z-index: 2;
}
body>div:first-child{
    height: 500px;
    width: 500px;
    border: 50px solid #add7f6;
}
body>div:first-child>div{
    height: 400px;
    width: 400px;
    border: 50px solid #87bfff;
}