@media all and (min-width: 769px) and (max-width: 1024px){
    #main_header{
        font-size: 130em;
    }
    .title{
        font-size: 38em;
    }
    .pro-h1{
        font-size: 24em;
    }
    #krId{
        font-size: 20em;
    }
    .pro-button{
        font-size: 14em;
    }
}