@media all and (min-width: 426px) and (max-width: 768px){
    #main_header{
        font-size: 100em;
        top: 6.5vh;
    }
    body>section:nth-child(3) {
        margin-top: 20vh;
    }
    .project-container{
        grid-template-columns: repeat(2, 1fr);
        height: max-content;
    }
    .project-container>div{
        width: 40vw;
    }
    .spec{
        font-size: 22em;
    }
}