/*----------------main view--------------*/
body>section{
    height: 100vh;
    position: relative;
}
/*----------------uni div styles--------------*/
div{
    width: 50vw;
    height: 50vh;
    position: absolute;
}