/*----------------universal session styles-------------------*/
body {
    position: relative;
}

section {
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
/*----------------session styles-------------------*/
body > section:first-child {
    background-color: #edf2f4;
}

body > section:nth-child(2) {
    background-color: #ade8f4;
}

body > section:nth-child(3) {
    background-color: #979dac;
}

body > section:nth-child(4) {
    background-color: #e5383b;
}