/*----------------body styles-------------------*/
body {
    position: relative;
}

/*----------------universal session styles-------------------*/
section {
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*----------------session styles-------------------*/
body > section:first-child {
    background-color: #edf2f4;
}

body > section:nth-child(2) {
    background-color: #ade8f4;
}

body > section:nth-child(3) {
    background-color: #979dac;
}

body > section:nth-child(4) {
    background-color: #e5383b;
}

/*----------------universal div styles-------------------*/
div {
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 10px;
    z-index: 2;
}

/*----------------div styles-------------------*/
body > section:first-child > div {
    background: #ef233c;
}

body > section:nth-child(2) > div {
    background: #00b4d8;
}

body > section:nth-child(3) > div {
    background: #33415c;
}

body > section:nth-child(4) > div {
    background: #a4161a;
}

/*----------------universal h1 styles-------------------*/
h1 {
    position: absolute;
    margin: auto;
    width: max-content;
    height: max-content;
    font-family: Arial Serif, sans-serif;
    display: inline-block;
}

/*----------------h1 styles (card txt)-------------------*/
body > section > div > h1 {
    top: 0;
    bottom: 0;
    left: 1vw;
    color: #FFFFFF;
    font-size: 2.5em;
}

/*----------------h1 styles (body content)-------------------*/
body > section > h1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10em;
    z-index: 1;
}